@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text&display=swap');
:root {
    --color-primary:#6f6af8;
    --color-white:#fff;
    --color-red:rgb(255,63,63);
    --color-gray-100:hs1(220,20%,10%,5%);
    --color-gray-200:hs1(220,20%,10%,10%);
    --color-gray-300:hs1(220,20%,10%,25%);
    --color-gray-500:hs1(220,20%,10%,50%);
    --color-gray-700:#252542;
    --color-gray-900:#0c0c22;

    --color-bg:hwb(240 95% 0%);

    --transition: all 300ms ease;

    --container-width-lg:84%;
    --container-width-md:92%;
    --form-width:50%;

    --radius-1:0.3rem;
    --radius-2:0.6rem;
    --radius-3:1rem;
    --radius-4:2rem;

}


* {
    margin:0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family:"Poppins", sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--color-gray-700);
}

a {
    color: var(--color-gray-700);
    text-decoration: none;
}

ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-gray-900);
    line-height: 1.1;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
}

h3{
    font-size: 1.3;
    line-height: 1.25;
}

h4{
    font-size: 1.1rem;
}
h5{
    font-size: 1.4;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}


section{
    margin-top: 6rem;
    
}

.container{
    width: var(--container-width-lg);
    margin-inline: auto;
}
.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    background: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}

.btn.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn.category {
    background: var(--col-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}

.btn.sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}

.btn.danger {
    background: var(--color-red);
    color: var(--color-white);
}

.btn:hover{
    background: var(--color-gray-900);
    color: var(--color-white);
}

.center {
    text-align: center;
    padding-top: 5rem;
    margin-inline: center;
    display: block;
    width: 100%;
}
.error-page h2{
    margin-top: 3rem;
}


/* navbar */

nav{
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(255,255,255,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav__logo{
    width: 7rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.nav__menu{
    display: flex;
    align-items: center;
    gap: 3rem;
} 
.nav__togglebtn{
    display: none;

}

/* footer */
footer {
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
}
.footer__categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__categories a{
    background: var(--color-gray-700);
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}
.footer__categories a:hover{
    background: var(--color-white);
    color: var(--color-gray-900);
}
.footer__copyrights{
    text-align: center;
    border-top: 2px solid var(--color-gray-700);
    padding: 1rem;
    color: var(--color-white);
    font-weight: 300;
}


/* footer */
.posts__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;

}

.post {
   background: var(--color-white);
   padding: 1rem;
   border-radius: var(--radius-4);
   padding-bottom: 2rem;
   transition: var(--transition);
   cursor: default;
}

.post:hover {
   box-shadow: 0 1.5rem 2rem rgba(0,0,0,0.1);
}

.post__thumbnail {
    border-radius: var(--radius-3);
    overflow: hidden;
    height: 16rem;
}

.post__content {
    margin-top:1.5rem;
}

.post__content h3 {
    margin: 1rem 0 o.6rem;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.post__author {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.post__author-avatar {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: var(--radius-2);
    overflow: hidden;
}





/* Posts detail*/
.post-detail {
    width: var(--form-width);
    background: var(--color-white);
    margin-inline: auto;
    padding: 2rem 0;
}

.post-detail__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.post-detail__button{
    display: flex;
    gap: 1rem;
    align-items: center;
 
}
.post-detail__thumbnail{
    margin: 1rem 0;
    height: fit-content;
    max-height: 30rem;
    overflow: hidden;
}

.post-detail p {
    margin-bottom: 0.7rem;
}


.btn-design:hover {
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}



/* Register pAGE  */
.form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
input , select, textarea {
    width: 100%;
    padding: 0.6rem 1rem ;
    border-radius: var(--radius-1);
    resize: none;
}
.form__error-message{
    background: var(--color-red);
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin-bottom: 1rem;
}

.register, .login, .create-post {
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 10rem);
    display: grid;
    place-items: center;
}

.register h2 , .login h2, .create-post h2 {
    margin-bottom: 2rem;
}

.register small, .login small{
    display: block;
    margin-top: 1.5rem;
}
.register small a , .login small a {
    color: var(--color-primary);

}
.ql-editor {
    overflow: scroll;
    background: var(--color-white);
    height: 10rem !important;
}

/* Media query for mobile phone  */

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.35rem;
    }
    .container {
        width: var(--container-width-md);

    }
    /* Navbar */
    .nav__container {
        position: relative;
    }

    .nav__menu {
        position: absolute;
        top: 5rem;
        right: 0;
        flex-direction: column;
        gap: o;

    }
    .nav__logo {
        position: relative;
        top: auto;
        left: auto;
        width: 20%;
    }
    .nav__menu li {
        width: 100%;
        box-shadow: -2rem 4rem 4rem rgba(0,0,0,0.26);
        animation: dropDown 500ms ease forwards;
        opacity: 0;
        transform: rotate(90deg);
        transform-origin: top;
    }

    @keyframes dropDown {
        to {
            opacity: 1;
            transform: rotate(0);
        }
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 300ms;
    }
    
    .nav__menu li:nth-child(3) {
        animation-delay: 600ms;
    }
    .nav__menu li:nth-child(4) {
        animation-delay: 900ms;
    }


    .nav__menu li a {
        display: block;
        background: var(--color-white);
        padding: 0.85rem 2.5rem;
    }

    .nav__togglebtn {
        display: inline-block;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .posts__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .foooter__categories {
        flex-direction: column;
    }

    .post-detail {
        width: 100%;
        background: transparent;
        padding: 0;
    }
    .post-detail h1 {
        margin-top: 1rem;
    }

    .register, .login, .create-post {
        width: 100%;
    }
    .form.profile__form {
        margin-top: 2.5rem;
        width: 100%;
    }
    .authors__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
    .dashboard__post {
        flex-direction: column;

    }
    .dashboard__post-info {
        gap: 1rem;
    }
    .dashboard__post-thumbnail {
        width: 5rem;
    }


    
}













/* Authors parts */
.authors__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;

}

.authors {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    gap: 1rem;
    transition: var(--transition);
}
.authors:hover{
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.07);
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.author__avatar{
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid rgba(102, 79, 207, 0.311);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    
}
.author__avatar:hover{
    box-shadow: 0 0 10px 1px #1e27e1, 0 0 20px 4px violet, 0 0 30px 6px indigo, 0 0 40px 8px blue, 0 0 50px 10px green, 0 0 60px 12px yellow, 0 0 70px 14px orange, 0 0 80px 16px red; /* Adjust the colors and sizes as needed */
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); /* Adjust colors as needed */
    background-size: 100% 100%;
    animation: rainbow 3s linear infinite;
}
.author__info p {
    margin-top: 1rem;
}

/* Profile__container */
.profile__container {
    display: grid;
    place-items: center;
    text-align: center;
}

.profile__details {
    width: 100%;
}

.avatar__wrapper {
    width: 15rem;
    aspect-ratio: 1/1;
    position: relative;
    margin-inline: auto;
    margin-top: 1rem;
}

.profile__avatar {
    height: 100%;
    border-radius: 50%;
    border: 1rem solid var(--color-white);
    overflow: hidden;

}

.avatar__form {
    height: 1rem;
}

.avatar__form input {
    visibility: hidden;
}

.avatar__form label, .profile__avatar-btn {
    background: var(--color-gray-900);
    color: var(--color-white);
    font-size: 1.3rem;
    position:absolute;
    right: 2rem;
    bottom: 1.4rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.profile__avatar-btn{
    cursor: pointer;
    padding : 0;
    background:var(--color-primary);
}

.profile__details h1 {
    margin-top: 1.5rem;
}
.form.profile__form {
    margin-top: 3rem;
    margin-inline: auto;
    width: var(--form-width);
}


/* DASHBOARD */
.dashboard__container {
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
}
.dashboard__post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--color-white);
    padding: 0.5rem 1.2rem;
    border-radius: var(--radius-3);
}

.dashboard__post-info{
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
}
.dashboard__post-thumbnail {
    width: 4rem;
    border-radius: var(--radius-1);
    overflow: hidden;
}

.dashboard__post-actions {
    display: flex;
    gap: 1rem;

}